*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    height: 40%;
}
#logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.menu{
    display: flex;
    padding-top: 30px;
    width: 20%;
    text-align: right;
    gap: 30px;
}
.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}
.container{
    height: 100%;
    overflow-y: hidden;
}
header{
    grid-area: header;
    background-color: rgb(122, 212, 80);
}
main{
    grid-area: main;
    background-color: grey;
}
.boxObjetos{
    display: grid;
    grid-template-areas: 
    'div div div'
    'div div div';
    justify-content: space-evenly;
    padding: 2px;
}
.Objetos{
    height: 170px;
}
#divBusca{
    background-color:#ffffff;
    border:solid 1px;
    border-radius:15px;
    width:300px;
}
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}
#Img-Objetos{
    height: 100px;
    width: 100px;
    border-radius: 10%;
}

